.button {
  position: relative;
  width: 100px;
  padding: 10px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;

  &.primary {
    background: #179ed3;

    &:hover {
      background: #1babe4;
    }
  }

  &.secondary {
    background: #d31794;

    &:hover {
      background: #e026a2;
    }
  }
}
